@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
body,.theme--light.v-application{
    background: #F9F9F9;
    font-family: 'Lato', sans-serif;
}

.modal__pokemon-img{
    position: relative;
    z-index: 1;
    &-fixed{
        z-index: 2;
        position: absolute;
        // top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
}

.toolbar-nav{
    position: fixed;
    width: 100%;
    height: 80px !important;
    background: #FFFFFF;
    box-shadow: 0px -5px 4px rgba(0, 0, 0, 0.05);
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    .v-toolbar__content{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100% !important;
        width: 100%;
        @media screen and (min-width: 768px) {
            width: 50%;
        }


        .btn-toolbar-nav{
            background: #BFBFBF;
            width: 50%;
            @media screen and (min-width: 768px) {
                width: 85%;
            }
            height: 44px;
            max-width: 220px;
            &:hover,&.active{
                background: #F22539
            }
        }
    }
}

.list-pokemons{
    padding-bottom: 90px;
    background: transparent !important;

    .v-list-item{
        background: #FFFFFF;
        border-radius: 5px;
        margin-bottom: 10px;
    }
}